<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ERP_ServicioElPendulo.Properties.Settings.servicioElPenduloConnectionString"
            connectionString="Data Source=DESKTOP-GL238MR\SQLEXPRESS;Initial Catalog=servicioElPendulo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>